apiKey=
apiSecret=
apiKeyBinance=
apiSecretBinance
depositoUSDT=
dataInicialBinance=
BOT_TOKEN=
BOT_CHAT=
botId=bot_1
montante=300.00
valorInicial=300.00
moedaCorrente=BRL
moedaAcumular=BRL
dataInicial=15/01/2020
minPercentualLucro=0.03
intervalo=2.5
host1=143.198.237.4
host2=64.227.99.7
port=80
multibot=true